

body{
    background-image: url('./images/Airbrush-Image-Enhancer.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 200vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.square {
    width: 700px; 
    height: 350px;
    background-color: white;
    border: 2px solid black; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#link{
    text-decoration: none; color: black;
}

#green{
    background-color: rgb(18, 241, 47); font-size: large;
}

#blue{
    background-color: rgb(47, 68, 255); font-size: large;
}

#yellow{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
    background-color: rgb(234, 238, 9); font-size: large; 
}

